<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
   
    <!-- <script src="./node_modules\jquery\dist\jquery.min.js"></script> -->
    <!-- <script data-main="main" src="./require.js"></script> -->
    <!-- <script src="./script.js"></script> -->
</head>
<body>
    
    <div class="menu">
        <div class = "file-menu selected-menu-option">File</div>
        <div class = "home-menu">Home</div>
    </div>

    <div class="menu-option">
        <div class = "file-menu-option">
            <div class="new-option">New</div>
            <div class="open-option">Open</div>
            <div class="save-option">Save</div>
        </div>
        <div class = "home-menu-option">
            <div class="one">
                <div class="font-div">
                    <select style="width: 115px" id="font-style">
                        <option value="Tahoma">Tahoma</option>
                        <option value="Arial" selected>Arial</option>
                        <option value="cursive">Cursive</option>
                        <option value="monospace">Monospace</option>
                    </select>
                </div>
                <div class="bold-u-italic">
                    <div class="bold">
                        <button class="bold-button">B</button>
                    </div>
                    <div class="underline">
                        <button class="underline-button">U</button>
                    </div>
                    <div class="italic">
                        <button class="italic-button">I</button>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="font-size-div"> 
                    <select style="width:115px" id="font-size">
                        <option value="14">14</option>
                        <option value="16" selected>16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <div class="color-div">
                    <input type="color" id="font-color">
                    <input type="color" id="font-background">
                </div>
            </div>
            <div class="three">
                <button id="left-align">L</button>
                <button id="center-align">C</button>
                <button id="right-align">R</button>
            </div>
        </div>
    </div>

    <div class="formula-input">
        <input type="text" id="address" disabled>
        <input type="text" id="formula">
    </div>

    <div class="content">
        <!-- top left corner-->
        <div class="top-left-corner"></div>

        <!-- top row-->
        <div class="top-row">
            <%for(let j=0;j<26;j++){%>
                <div class="top-row-cell" > <%= String.fromCharCode(65+j)%></div>
            <%}%>
        </div>

        <!-- left col -->
        <div class="left-col">
            <%for(let j=0;j<100;j++){%>
                <div class="left-col-cell" cellid=<%= j%> > <%= j+1%></div>
            <%}%>
        </div>

   
        <div class="cells">
            <%
                for(let i=0;i<100;i++){  %>
                    <div class="row">
                        <%for(let j=0;j<26;j++){%>
                            <div class="cell" contenteditable="true" rid=<%=i%> cid=<%=j%> > </div>
                            <%}%>
                    </div>
            <%  }
            %>
        </div>
</div>

    <div class="sheets-div">
        <div class="sheets-list">
            <div class ="sheet active-sheet" sid="0">Sheet 1</div>
        </div>
        <div class="add-sheet">+</div>
    </div>

    <script src="./script.js"></script>
</body>
</html>